html {
  font-family: "Itim", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div,
header,
footer,
button,
input {
  box-sizing: border-box;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

button {
  font-size: 20px;
  padding: 4px 6px;
  margin-right: 3px;
  border: 2px solid #313414;
  background: #fceccd;
  color: #313414;
  border-radius: 8px;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(243, 119, 3, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(243, 119, 3, 0);
  }
}
button[type="reset"]:focus {
  animation: shadow-pulse 1s infinite;
  outline: none;
}

button.selected {
  background: #fff;
}

.submit:disabled {
  background: #fff;
  color: #313414;
}

.submit {
  border: 1px solid #311414;
  background-color: #f86903;
  color: #fff;
  font-size: 28px;
  padding: 5px 11px;
  border-radius: 8px;
  margin-top: 12px;
}

.numbers {
  font-size: 68px;
  letter-spacing: 6px;
  text-align: right;
  width: 100%;
  border-bottom: 4px solid #311414;
}

.numbers div {
  padding-right: 12px;
}

form {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.equation-wrapper {
  width: 210px;
}
